In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('framingham.csv')

In [31]:
data=data.drop('education', axis=1)
data = data.drop('currentSmoker', axis = 1)
data = data.drop('cigsPerDay', axis = 1)
data = data.drop('prevalentStroke', axis = 1)
data = data.drop('prevalentHyp', axis = 1)
data = data.drop('BPMeds', axis = 1)

In [32]:
data.head()

,male,age,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [33]:
data.isnull().sum()

male             0
age              0
diabetes         0
totChol        150
sysBP            0
diaBP            0
BMI             57
heartRate        3
glucose       1164
TenYearCHD       0
dtype: int64

In [34]:
data = data.drop_duplicates()

In [35]:
data = data.dropna()

In [36]:
data.shape

(7656, 10)

In [37]:
X = data.drop('TenYearCHD', axis =1)
Y = data['TenYearCHD']

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.25, random_state = 42)

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rf =RandomForestClassifier()

In [42]:
rf.fit(X_train, Y_train)

RandomForestClassifier()

In [43]:
y_pred = rf.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score

In [45]:
e=accuracy_score(Y_test, y_pred)

In [46]:
e

0.9493207941483803

In [47]:
rf.fit(X,Y)

RandomForestClassifier()

In [48]:
new_data = pd.DataFrame({
    'male': 0.00,
    'age': 61.00,
    'diabetes': 0,
    'totChol': 225.00,
    'sysBP' : 150.00,
    'diaBP':95.00,
    'BMI':28.58,
    'heartRate':65.00,
    'glucose': 103.00
},index =[0])

In [50]:
new_data

   male   age  diabetes  totChol  sysBP  diaBP    BMI  heartRate  glucose
0   0.0  61.0         0    225.0  150.0   95.0  28.58       65.0    103.0

In [51]:
p=rf.predict(new_data)
if p[0]==0:
    print("No Disease")
else:
    print("Disease")

Disease

In [23]:
import pickle
pickle_out = open("vajra.pkl","wb")
pickle.dump(rf, pickle_out)
pickle_out.close()

In [24]:
filename ='heart_model.sav'
pickle.dump(rf,open(filename,'wb'))

In [25]:
loded_model = pickle.load(open('heart_model.sav','rb'))

In [26]:
input_data = (0,61,0,225,150,95,28,65,103)

input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loded_model.predict(input_data_reshaped)
print(prediction)

[1]

In [27]:
for i in data.columns:
    print(i)

male
age
diabetes
totChol
sysBP
diaBP
BMI
heartRate
glucose
TenYearCHD

In [28]:
import sklearn 
print('The scikit-learn version is {}. '. format(sklearn. __version__))

The scikit-learn version is 0.24.2.