In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('framingham.csv')

In [5]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
data=data.drop('education', axis=1)
data = data.drop('currentSmoker', axis = 1)

In [21]:
data.head()

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [7]:
data.isnull().sum()

male                  0
age                   0
cigsPerDay           87
BPMeds              159
prevalentStroke       0
prevalentHyp          0
diabetes              0
totChol             150
sysBP                 0
diaBP                 0
BMI                  57
heartRate             3
glucose            1164
TenYearCHD            0
dtype: int64

In [8]:
data = data.drop_duplicates()

In [9]:
data = data.dropna()

In [10]:
X = data.drop('TenYearCHD', axis =1)
Y = data['TenYearCHD']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.25, random_state = 42)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rf =RandomForestClassifier()

In [15]:
rf.fit(X_train, Y_train)

RandomForestClassifier()

In [16]:
y_pred = rf.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(Y_test, y_pred)

0.9402985074626866

In [19]:
rf.fit(X,Y)

RandomForestClassifier()

In [23]:
new_data = pd.DataFrame({
    'male': 0.00,
    'age': 61.00,
    'currentSmoker':0,
    'BPMeds':0,
    'prevalentStroke':0,
    'prevalentHyp':0,
    'diabetes': 0,
    'totChol': 225.00,
    'sysBP' : 150.00,
    'diaBP':95.00,
    'BMI':28.58,
    'heartRate':65.00,
    'glucose': 103.00
},index =[0])

In [24]:
p=rf.predict(new_data)
if p[0]==0:
    print("No Disease")
else:
    print("Disease")

No Disease

In [25]:
import pickle
pickle_out = open("vajraaOne.pkl","wb")
pickle.dump(rf, pickle_out)
pickle_out.close()

In [26]:
filename ='heart_model_one.sav'
pickle.dump(rf,open(filename,'wb'))

In [27]:
loded_model = pickle.load(open('heart_model_one.sav','rb'))